@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {

} */
html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  background: #f7f7f7;
}

.background1{
  background: url('../public/fondo3.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.background2{
  background: url('../public/fondo4.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.background3{
  background: url('../public/fondo1.jpeg');
  background-position: center;
  background-size: cover;
}

.proyecto1{
  background: url('../public/la-aguada.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto2{
  background: url('../public/bustillo-uno.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto3{
  background: url('../public/bella-vista.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto4{
  background: url('../public/lomas-del-cauquen.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto5{
  background: url('../public/las-pitras.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto6{
  background: url('../public/bariloche-center.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto7{
  background: url('../public/carantania.jpeg');
  background-position: center;
  background-size: cover;
}
.proyecto8{
  background: url('../public/entre-cerros.jpeg');
  background-position: center;
  background-size: cover;
}

.hamburger {
  height: 50px;
  width: 50px;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  background-color: #1f1f1f;
  height: 1px;
  width: 32px;
  margin: 3px;
  border-radius: 10px;
}

.mobile-nav {
  width: 100vw;
  padding-top: 4.5rem;
  box-sizing: border-box;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 40;
  top: 0;
  right: -100vw;
  transition: transform 0.5s;
}


.active {
  transform: translateX(-100vw);
}


@media only screen and (max-width: 768px) {
  .nav {
    margin: 0 1rem;
  }
  .nav-ul {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 820px) {
  .mobile-nav {
    display: none;
  }
}

.firstAnimateBar1 {
  animation: flipBar1 0.5s forwards;
}
.firstAnimateBar2 {
  animation: fadeBar2 0.5s forwards;
}
.firstAnimateBar3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes fadeBar2 {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar1 {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(1px, 9px);
  }
}
@keyframes flipBar3 {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(1px, -9px);
  }
}