@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {

} */
html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  background: #f7f7f7;
}

.background1{
  background: url('../public/fondo3.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.background2{
  background: url('../public/fondo1.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}